.cart-icon {
  font-size: 35px;
  margin: -10px 0px;
  cursor: pointer;
}
.cart-number {
  color: rgb(3, 130, 248);
  padding: 5px 5px;
}
.cart-dropdown {
  position: absolute;
  width: 280px;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border: 1px solid black;
  background-color: white;
  top: 80px;
  right: 20px;
  z-index: 5;
}
.drop-items {
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: 0 auto;
  overflow-y: scroll;
}
.cart-item {
  width: 100%;
  display: flex;
  height: 80px;
  margin-bottom: 10px;
}
.cart-item img {
  width: 100px;
  height: 70px;
}
.name {
  font-size: 16px;
  font-weight: 600;
}
.price {
  font-size: 14px;
}
.item-details {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px;
}
.checkout-btn {
  text-decoration: none;
  background-color: rgb(3, 130, 248);
  color: white;
  border: 1px solid rgb(3, 130, 248);
  border-radius: 30px;
  padding: 8px 0px;
  width: 120px;
  text-align: center;
  font-weight: 600;
  margin: 0 auto;
  position: relative;
  top: 20px;
}
.checkout-btn:hover {
  background-color: white;
  color: rgb(3, 130, 248);
}
.cart-block {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: 5% auto;
  border-radius: 10px;
}
.items-block {
  width: 50%;
  display: block;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
}
.payment-block {
  width: 50%;
}
.cart-items {
  display: flex;
  width: 50%;
  margin: 0 auto 30px auto;
}
.cart-items img {
  width: 200px;
  height: 130px;
  background-color: rgb(247, 247, 247);
}
.cart-btn {
  background: none !important;
  border: none !important;
  color: black !important;
}
.remove-btn {
  border: 1px solid rgba(248, 85, 85, 0.548);
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 30px;
  background-color: rgba(255, 0, 0, 0.548);
  color: white;
  transition: all 0.3s;
  cursor: pointer;
}
.remove-btn:hover {
  background-color: rgba(255, 0, 0);
}
.name {
  font-size: 16px;
  font-weight: 600;
}
.price {
  font-size: 14px;
}
.underline {
  margin: 10px 0;
  width: 100%;
  border: 1px solid rgb(0, 81, 255);
  height: 2px;
  background-color: rgb(0, 81, 255);
}
.table-block {
  width: 85%;
  padding: 10px 0;
  background-color: rgba(2, 132, 184, 0.26);
  border-radius: 10px;
  margin-bottom: 30px;
}
table {
  margin-left: 20px;
  width: 90%;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.pay-btn {
  background-color: black;
  color: white;
  padding: 8px 10px;
  border-radius: 30px;
  text-decoration: none;
  border: 1px solid black;
  margin-top: 20px;
  transition: ease 0.3s;
}
.pay-btn:hover {
  background-color: white;
  color: black;
}
