.items-menu {
  width: 100%;
  position: relative;
  display: flex;
}
.items {
  display: flex;
  margin: 0 auto;
}
.featured-items {
  display: flex;
  margin: 0 auto;
  height: 200px;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.items-menu a {
  text-decoration: none;
}
.item {
  width: 210px;
  height: 150px;
  border-radius: 10px;
  text-align: center;
  margin: 20px 20px 0 0;
  transition: transform 0.3s;
}
.item h1 {
  margin-top: 10px;
  font-size: 18px;
}
.item:hover {
  transform: scale(1.08);
}
.item-img {
  width: 200px;
  height: 140px;
  border-radius: 10px;
}
.featured-title {
  width: 80%;
  margin: 40px auto;
}
.title {
  font-size: 18px;
  color: black;
}
@media screen and (max-width: 1164px) {
  .item {
    width: 160px;
    height: 114px;
  }
  .item h1 {
    margin-top: 10px;
    font-size: 16px;
  }
  .item-img {
    width: 150px;
    height: 105px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 1064px) {
  .item {
    width: 160px;
    height: 114px;
  }
  .item h1 {
    margin-top: 10px;
    font-size: 16px;
  }
  .item-img {
    width: 150px;
    height: 105px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 900px) {
  .items-menu {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    height: 200px;
  }
  .item {
    flex: 0 0 auto;
    width: 160px;
    height: 114px;
    margin: 20px 10px 0 0;
  }
  .item-img {
    width: 150px;
    height: 105px;
  }
  .item h1 {
    margin-top: 10px;
    font-size: 12px;
  }
}
@media screen and (max-width: 725px) {
  .featured-title h1 {
    font-size: 24px;
    text-align: center;
  }
  .featured-items {
    width: 100%;
  }
  .items {
    width: 90%;
  }
  .items-menu a {
    margin-right: 10px;
  }
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  .item {
    flex: 0 0 auto;
    width: 140px;
    height: 100px;
    margin: 30px 20px 0 0;
  }
}
