.items-menu {
  display: flex;
  margin: 0 10%;
  justify-content: space-around;
}

.item {
  width: 210px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 10px 0 40px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: transform 0.3s;
}
.item:hover {
  transform: scale(1.08);
}
.item-img {
  width: 200px;
  height: 140px;
  border-radius: 10px;
}
.content {
  width: 200px;
  margin: 20px auto 20px auto;
}
.featured-title {
  width: 80%;
  margin: 40px auto;
}
.title {
  font-size: 18px;
}
