* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* ---------------------------NAVBAR----------------- */
.navigation {
  display: flex;
  align-items: center;
  padding: 0px 5%;
  justify-content: space-between;
}
.logo {
  cursor: pointer;
  width: 150px;
  height: 60px;
}
.nav {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 20px 20px;
}
.nav-toggle li {
  display: inline-block;
  list-style: none;
  padding: 10px 20px;
}
.nav-toggle li a {
  text-decoration: none;
  color: rgb(29, 29, 29);
}
.nav-toggle input {
  display: none;
}
.logout_btn {
  margin-top: 0;
  padding: 8px 18px;
  background-color: black;
  color: white !important;
  border-radius: 30px;
  outline: none;
  border: 1px solid black;
}
.logout_btn:hover {
  background-color: white;
  color: black !important;
}
/* -----------------------HOME------------------------ */
.banner {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
}
.banner-img {
  height: 460px;
}
.banner-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.banner-text h1 {
  font-size: 42px;
}

@media screen and (max-width: 1155px) {
  .navigation {
    padding: 0 2%;
  }
}
@media screen and (max-width: 930px) {
  .navigation {
    padding: 0 2%;
  }
  .nav {
    padding: 20px 5px;
  }
  #menu li {
    padding: 10px 10px;
  }
  #menu li a {
    font-size: 16px;
  }
  .logout_btn {
    padding: 6px 14px;
  }
  .carts {
    padding: 10px !important;
  }
  .cart-btn {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 725px) {
  .nav-toggle input {
    display: flex;
    width: 30px;
    height: 50px;
    position: absolute;
    top: 10px;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
  }
  .nav-toggle span {
    display: flex;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 6;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  #menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 10px #85888c;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #f5f6fa;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    z-index: 4;
    transform: translate(30%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .nav-toggle span:first-child {
    transform-origin: 0% 0%;
  }
  .nav-toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .nav-toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 2px);
    background: black;
  }
  .nav-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .nav-toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  .nav-toggle input:checked ~ #menu {
    transform: translate(-72%, 0);
  }
  #menu li {
    display: block;
    text-align: center;
    transition-delay: 2s;
    font-size: 20px;
  }
  #menu li a {
    display: block;
    font-size: 20px;
    font-weight: 600;
    transition: all ease 0.2s;
  }
  .logout_btn {
    background-color: transparent !important;
    color: black !important;
    border: none !important;
  }
  .carts {
    display: flex;
    position: relative;
    padding: 0 !important;
    text-align: center;
    margin: 0 auto;
  }
  #menu li a:hover {
    transform: scale(1.15);
  }
}
.section-line {
  width: 85%;
  background-color: rgb(202, 202, 202);
  border: none;
  outline: none;
  margin: 40px auto;
  height: 2px;
}
.featured {
  width: 80%;
  margin: 0 auto 20px auto;
}
@media screen and (max-width: 1064px) {
  .banner {
    width: 90%;
  }
  .banner-img {
    height: 380px;
  }
  .banner-text h1 {
    font-size: 36px;
  }
  .banner-text p {
    font-size: 16px;
  }
}
@media screen and (max-width: 725px) {
  .banner {
    width: 95%;
    display: block;
  }
  .logo {
    width: 100px;
    height: 40px;
  }
  .banner-image {
    height: 260px;
  }
  .banner-img {
    display: block;
    height: 100%;
    margin: 0 auto;
  }
  .banner-text {
    text-align: center;
  }
  .banner-text h1 {
    font-size: 18px;
  }
  .banner-text p {
    margin-top: 10px;
    font-size: 14px;
  }
}
